.App {
  background-image: linear-gradient(
    to right top,
    #d8d5f2,
    #edd3eb,
    #fbd3de,
    #ffd6d0,
    #fcdcc6,
    #f3e0c4,
    #e8e4c6,
    #dde8cc,
    #d5e8d3,
    #cfe7d9,
    #cde6de,
    #cde4e2
  );
}
.App-header {
  display: block;
  max-width: 200px;
}
footer {
  margin: 30px 0;
  text-align: center;
  font-size: 10px;
}
