body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right top,
    #d8d5f2,
    #edd3eb,
    #fbd3de,
    #ffd6d0,
    #fcdcc6,
    #f3e0c4,
    #e8e4c6,
    #dde8cc,
    #d5e8d3,
    #cfe7d9,
    #cde6de,
    #cde4e2
  );
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
